<%@ Master Language="C#" MasterPageFile="~/Site.master" AutoEventWireup="true" CodeBehind="AdminMaster.master.cs" Inherits="LeftoverFood.Admin.AdminMaster" %>

<asp:Content ID="Content1" ContentPlaceHolderID="HeadContent" runat="server">
    <asp:ContentPlaceHolder ID="AdminHeadContent" runat="server" />
</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="SidebarContent" runat="server">
  <fb:RoleSidebar runat="server" ID="roleSidebar" />
</asp:Content>

<asp:Content ID="Content3" ContentPlaceHolderID="PageHeading" runat="server">
    <asp:ContentPlaceHolder ID="AdminPageHeading" runat="server" />
</asp:Content>

<asp:Content ID="Content4" ContentPlaceHolderID="MainContent" runat="server">
    <asp:ContentPlaceHolder ID="AdminMainContent" runat="server" />
</asp:Content>

<asp:Content ID="Content5" ContentPlaceHolderID="FooterScripts" runat="server">
    <asp:ContentPlaceHolder ID="AdminFooterScripts" runat="server" />
</asp:Content>
