<%@ Master Language="C#" MasterPageFile="~/Site.master" AutoEventWireup="true" CodeBehind="VolunteerMaster.master.cs" Inherits="LeftoverFood.Volunteer.VolunteerMaster" %>

<asp:Content ID="Content1" ContentPlaceHolderID="HeadContent" runat="server">
    <asp:ContentPlaceHolder ID="VolunteerHeadContent" runat="server" />
</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="SidebarContent" runat="server">
  <fb:RoleSidebar runat="server" ID="roleSidebar" />
</asp:Content>

<asp:Content ID="Content3" ContentPlaceHolderID="PageHeading" runat="server">
    <asp:ContentPlaceHolder ID="VolunteerPageHeading" runat="server" />
</asp:Content>

<asp:Content ID="Content4" ContentPlaceHolderID="MainContent" runat="server">
    <asp:ContentPlaceHolder ID="VolunteerMainContent" runat="server" />
</asp:Content>

<asp:Content ID="Content5" ContentPlaceHolderID="FooterScripts" runat="server">
    <asp:ContentPlaceHolder ID="VolunteerFooterScripts" runat="server" />
</asp:Content>
